.One {
    background-color: red;
    display: block;
    height: 50px;
    width: 50px;
    padding: 25px;
}
.Two {    
background:rgb(0, 0, 0);
margin: auto;
height: 50px;
width: 50px;
}

img {
   display: flex;
   background-color: red;
   height: 100px;
   width: 100px;
  }
  .animated{
   animation: One 10s infinite;
  }
  @keyframes One {
      100%{
          transform: rotate(1000deg);
      }
      
  }